<ul class="main">
    <li><a href="{{ root_url }}/">Blog</a></li>
    <li><a target="_blank" href="http://about.me/tamizhvendan">About Me</a></li>
    <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
    <br/>
    <li><a target="_blank" href="https://www.codementor.io/tamizhvendan?utm_source=github&utm_medium=button&utm_term=tamizhvendan&utm_campaign=github"><img src="https://cdn.codementor.io/badges/book_session_github.svg" alt="Book session on Codementor" style="max-width:100%" /></a>
		</li>
    <br/>
</ul>